{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto p-2">
			We have emailed you instrcutions for setting your password, if an account exist with the email you entered.
			You should receive them shortly.
		</p>
		<p class="m-auto p-2">
			If you have not received the email yet, then make sure you entered correct email
			and check your spam folder.
		</p>
		<p class="m-auto p-2"><a href="{% url 'home' %}">Return to home Page</a></p>
	</div>
</div>

{% endblock content %}